<ion-header>
  <ion-toolbar class="color-principal ion-text-center">
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h1 class="ion-text-center">Pagina no encontrada</h1>
  </ion-text>

  <ion-img class="ion-margin-top" src="assets/images/otro.png"></ion-img>

  <ion-button class="ion-margin-top color-principal" expand="full" [routerLink]="['/select']">
    <ion-icon name="home" slot="start"></ion-icon>
    Volver al Inicio
  </ion-button>
</ion-content>
