<ion-header>
  <ion-toolbar class="color-principal">
      <ion-title>Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img class="logo-image" src="assets/images/otro.png"></ion-img>

  <ion-button class="ion-margin-top color-principal" expand="full" (click)="navigateTo('login')">
    Alumno
  </ion-button>
  
  <ion-button class="ion-margin-top color-principal" expand="full" (click)="navigateTo('login-p')">
    Profesor
  </ion-button>

</ion-content>
