/* Estilo principal */
.color-principal {
    --background: #790675f2; /* Color de fondo del botón */
    --color: #ffffff; /* Color del texto del botón */
    --border-radius: 8px;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para darle un efecto de elevación */
  }
  
  /* Estilo de la imagen del logo */
  .logo-image {
    width: 60%; /* Ajusta el ancho según sea necesario */
    max-width: 300px; /* Tamaño máximo para asegurar que no se agrande demasiado */
    margin: 2rem auto; /* Centra la imagen y añade espacio alrededor */
    display: block;
  }
  
  /* Estilo de ion-content para mejorar la distribución del contenido */
  ion-content {
    --padding-top: 2rem;
    --padding-bottom: 2rem;
  }
  
  /* Estilo del ion-item */
  ion-item {
    --background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente más claro */
    --border-radius: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    --inner-padding-top: 12px;
    --inner-padding-bottom: 12px;
    margin-bottom: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  /* Estilo del ion-input */
  ion-input {
    --background: transparent; /* Asegura que el fondo sea transparente */
    --color: #000000; /* Color del texto */
    --placeholder-color: #666666; /* Color del placeholder */
    --padding-start: 8px; /* Espacio interno del input */
  }
  
  
  
  /* Estilo del ion-toolbar */
  ion-toolbar.color-principal {
    --background: linear-gradient(135deg, #0000ff, #ffcc00); /* Gradiente de azul a amarillo */
    --border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Línea sutil en la parte inferior */
    color: #ffffff; /* Color del texto */
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para darle un efecto de elevación */
  }
  
  /* Estilo del botón */
  ion-button.color-principal {
    --background: linear-gradient(135deg, #790675, #a442a0); /* Degradado para el fondo */
    --border-radius: 10px;
    --box-shadow: 0px 4px 12px rgba(121, 6, 117, 0.4); /* Sombra más pronunciada */
    font-weight: bold;
  }
  
  /* Efecto hover del botón */
  ion-button.color-principal:hover {
    --background: linear-gradient(135deg, #a442a0, #790675);
    filter: brightness(1.1);
  }
  
