<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/asistencia"></ion-back-button>
    </ion-buttons>
    <ion-title>Resumen de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Total de clases programadas: {{ totalClases }}</p>
      <p>Clases asistidas: {{ clasesAsistidas }}</p>
      <p>Clases faltadas: {{ clasesFaltadas }}</p>
      <p>Porcentaje de asistencia: {{ porcentajeAsistencia }}%</p>
      <p>Clases que puedes faltar: {{ clasesRestantes }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
