<ion-header>
  <ion-toolbar class="color-principal">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login-p"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Imagen principal -->
  <ion-img class="logo-image" src="assets/images/educatech.png"></ion-img>

  <!-- Botón para ir a la sección de notas -->
  <ion-button class="ion-margin-top color-principal" expand="full" (click)="irANotas()">Ver Notas</ion-button>

  <!-- Botón para ir al escáner de QR -->
  <ion-button class="ion-margin-top color-principal" expand="full" (click)="irAlQrScanner()">Generar QR</ion-button>

<!-- Botón para ir a la seccion de la asistencia -->
  <ion-button class="ion-margin-top color-principal" expand="full" (click)="irAAsistencia()">Ver Asistencias</ion-button>
</ion-content>
