<ion-header>
  <ion-toolbar class="color-principal">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title id="tPrincipal">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img class="logo-image" src="assets/images/otro.png"></ion-img>

  <h5>Recuperación de contraseña</h5>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="recuperarContrasena()" #formulario="ngForm">
    <ion-item class="color-input">
      <ion-input
        class="color-input"
        label="Correo Electronico"
        label-placement="floating"
        type="email"
        required
        [(ngModel)]="email"
        name="email">
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!formulario.form.valid" class="ion-margin-top color-principal">
      Enviar instrucciones
    </ion-button>
  </form>
</ion-content>
