<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio-p"></ion-back-button>
    </ion-buttons>
    <ion-title>Comparativa de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Seccion</ion-label>
    <ion-select [(ngModel)]="cursoSeleccionado" (ionChange)="cargarAsistencia()">
      <ion-select-option *ngFor="let curso of cursos">{{ curso.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <canvas id="asistenciaChart"></canvas>
</ion-content>
