.error-container {
    text-align: center;
    ion-icon {
      color: #eb445a;
      margin-bottom: 20px;
    }

    h1 {
      color: #000000;
    }
    p {
      color: #92949c;
      margin-bottom: 20px;
    }


  }

h1 {
  color:#000000
}
  