<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/asistencia"></ion-back-button>
    </ion-buttons>
    <ion-title>Retroalimentación sobre Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let registro of historialAsistencia">
      <ion-label>{{ registro.fecha }} - {{ registro.estado }}</ion-label>
      <ion-input [(ngModel)]="registro.comentario" placeholder="Añadir comentario..."></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="guardarComentarios()">Guardar Comentarios</ion-button>
</ion-content>
